.encabezado{
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),url(/img/principal.jpg);
     /*altura*/
     height: 30rem;
     /*tomar todo el espacio disponible*/
     background-size: cover;
     background-repeat: no-repeat;
     /*se debe ver la imagen central cuando cambie de resolucion*/
    background-position: center center;/* vertical horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
 }

 h1{
    padding: 50px;
    color: var(--blanco);
 }

 h1 .resaltar{
   font-weight: bold;
 }

 .encabezado .nav_list{
    padding-bottom: 60px;
 }

 .encabezado .nav_list li{
    padding: 0 30px;
    display: inline-block;
 }

 .encabezado .nav_list li:hover{
   transform: scale(1.1);
}

 .encabezado .nav_list a{
    color: #faf0f0;
    font-weight: 700;
    font-size: 30px;
 }

 .encabezado .nav_list a:hover{
   color: #1275d1;
 }


 /*----------------------------------------------------------------------------------*/
 @media  (max-width:684px) {
    .encabezado{
        min-height: 10vh;
    }
   
    h1{
      padding: 30px;
    }

   .encabezado .nav_list li{
      display: flex;
   }

    .encabezado .nav_list a{
      font-weight: 700;
      font-size: 25px;
   }
    
 }