.encabezado{
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),url(/img/principal.jpg);
     /*altura
     height: 50rem;*/
     /*tomar todo el espacio disponible*/
     background-size: cover;
     background-repeat: no-repeat;
     /*se debe ver la imagen central cuando cambie de resolucion*/
    background-position: center center;/* vertical horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .encabezado h1{
    align-items: center;
 }

 .encabezado .nav_list{
    padding: 0 30px;
 }

 .encabezado .nav_list li{
    padding: 0 30px;
    display: inline-block;
 }

 .encabezado .nav_list a{
    color: #faf0f0;
    font-weight: 700;
    font-size: 20px;
 }


 /*----------------------------------------------------------------------------------*/
 