.parrafo_contenido{
    margin-right: 6rem;
    margin-left: 6rem;
    padding: 3rem;
    display: grid;
    justify-items: center;
}

.resaltar{
    font-weight: bold;
}

.img_ahorro{
    max-width:50%;
    border-radius: 25px;
}

.img_costos{
    max-width:40%;
    border-radius: 25px;
}

.img_reparacion, .img_mantenimiento, .img_sostenibilidad{
    max-width:50%;
    border-radius: 25px;
} 

@media  (max-width:684px) {
    .parrafo_contenido{
        text-align:center!important ;
    }

    .img_ahorro{
        max-width: 80%;
    }

    .img_costos{
        max-width: 75%;
    }

    .img_reparacion{
        max-width: 80%;
    }

    

    .img_mantenimiento, .img_sostenibilidad{
        max-width: 90%;
    }
 }